<!DOCTYPE html>
<html>
<head>
  <title>Médicos</title>
</head>
<body>
  <h1>Lista de Médicos</h1>
  <a href="/medicos/new">Adicionar Médico</a>
  <ul>
    <% medicos.forEach(medico => { %>
      <li>
        <a href="/medicos/<%= medico.id %>"><%= medico.nome %></a>
        <a href="/medicos/<%= medico.id %>/edit">Editar</a>
        <form action="/medicos/<%= medico.id %>/delete" method="POST" style="display:inline;">
          <button type="submit">Deletar</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
