<!DOCTYPE html>
<html>
<head>
  <title>Novo Médico</title>
</head>
<body>
  <h1>Novo Médico</h1>
  <form action="/medicos" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" required>
    <label for="rg">RG:</label>
    <input type="text" name="rg" required>
    <label for="numero_classe">Número da Classe:</label>
    <input type="text" name="numero_classe" required>
    <label for="profissao">Profissão:</label>
    <input type="text" name="profissao" required>
    <label for="especialidadeId">Especialidade:</label>
    <select name="especialidadeId" required>
      <% especialidades.forEach(especialidade => { %>
        <option value="<%= especialidade.id %>"><%= especialidade.nome %></option>
      <% }) %>
    </select>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
