<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="titulo-principal">Bem-vindo ao Sistema de <br> Gestão da Clínica</h1>
  <h2 class="titulo-secundario">Clique no módulo para acessá-lo</h2>
  <div class="engloba-modulos">
    <div class="modulo"><a class="modulo-links" href="/pacientes">Gerenciar Pacientes</a></div>
    <div class="modulo"><a class="modulo-links" href="/medicos">Gerenciar Médicos</a></div>
    <div class="modulo"><a class="modulo-links" href="/agendamentos">Gerenciar Agendamentos</a></div>
    <div class="modulo"><a class="modulo-links" href="/especialidades">Gerenciar Especialidades</a></div>
  </div>
</body>
</html>
