<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Médico</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="titulo-principal">Nova Especialidade</h1>
  <form class="form-preencher" action="/especialidades" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
